
*::before,
*::after {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}
.start-page {
  height: 100vh;
  width: 100vw;
  background: url(/images/background.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.logo {
  height: 400px;
  width: 400px;
  border: 50%;
  background: url(images/logobitcoin.png);
  background-size: cover;
}
.writeup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.play {
  width: 40vw;
  height: 45px;
  background-image: linear-gradient(rgb(66, 92, 169), rgb(19, 21, 60));
  padding-bottom: 10px;
  border-radius: 10px;
  font-size: 30px;
  text-align: center;
  color:  white;
  cursor: pointer;
}
.play:hover {
  border-color: rgb(19, 21, 60);
  transform: scale(1.075);
  transition: 0.2s ease-in;
  background-color: rgb(66, 92, 169);
}
.hide {
  display: none;
}
.start-page.hide {
  display: none;
}
.play-game {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  background: url(images/quiz-background.jpg);
  background-size: cover;
}
.play-game.hide {
  display: none;
}
.game-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 20px;
}
.life-line {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 80px;
}
.fifty,
.audience,
.phone {
  height: 60px;
  width: 80px;
  border-radius: 20px;
  cursor: pointer;
}
.fifty:hover,
.audience:hover,
.phone:hover {
  border: 2px solid white;
  transform: scale(1.075);
  transition: 0.2s ease-in;
}
.fifty {
  background: url(images/50-50-icon.png);
  background-size: cover;
}
.audience {
  background: url(images/audience-icon.png);
  background-size: cover;
}
.phone {
  background: url(images/phone-icon.png);
  background-size: cover;
}
.question {
  width: 85%;
  min-height: 60px;
  font-family: tahoma;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-image: linear-gradient(rgb(12, 14, 16), rgb(19, 21, 60));
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  border-top: 3px solid transparent;
  border-right: 3px solid transparent;
  border-image: linear-gradient(
    to right,
    rgb(58, 68, 153),
    rgb(71, 150, 165),
    rgb(58, 68, 153)
  );
  border-image-slice: 2;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 25px;
}
/*Editing the Answer Sections giving colors to right and wrong answers*/
:root {
  --hue-neutral: 210;
  --hue-wrong: 0;
  --hue-correct: 145;
}
.answer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 30px;
  margin: 20px 0;
}
.btn {
  --hue: var(--hue-neutral);
  background-color: hsl(var(--hue), 14%, 5%);
  border: 2px solid hsl(var(--hue), 40%, 30%);
  font-family: tahoma;
  width: 200px;
  height: 60px;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
.btn:hover {
  border-color: black;
  transform: scale(1.075);
  transition: 0.2s ease-in;
}
/*Adding different colors to right and wrong answers*/
.btn.correct {
  --hue: var(--hue-correct);
  color: green;
}
.btn.wrong {
  --hue: var(--hue-wrong);
  color: red;
}
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 60px;
}

/*Winning Section*/
.winning-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  width: 20%;
  min-height: 95%;
  color: white;
  margin: 20px;
  padding: 20px;
  border: 2px solid white;
  background: url(images/quiz.jpg);
  background-size: cover;
}
.won {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  font-size: 20px;
  padding: 8px;
  gap: 10px;
  width: 180px;
  height: 30px;
}
.won.correctly {
  background-color: rgb(199, 124, 5);
}
.won.wrongly {
  background-color: rgb(173, 30, 5);
}
.nothing {
  display: none;
}

.got-it {
  --hue: var(--hue-correct);
  color: hsl(var(--hue), 100%, 50%);
}
.failed {
  --hue: var(--hue-wrong);
  color: hsl(var(--hue), 100%, 50%);
}

/*Game End Section*/
.game-end {
  background: url(images/quiz.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
   flex-direction: column; 
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  color: white;
  font-size: 30px;
  text-align: center;
}
.btnsub {
  --hue: var(--hue-neutral);
  background-color: hsl(var(--hue), 14%, 5%);
  border: 2px solid hsl(var(--hue), 40%, 30%);
  font-family: tahoma;
  display: inline-block;
  align-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
.game-end.hide {
  display: none;
}
.highscoreContainer {
  background: url(images/highscore.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  color: white;
  font-size: 30px;
  text-align: center;
}
.highscoreContainer.hide {
  display: none;
}
.show-winnings {
  font-size: 30px;
  color: white;
  font-family: tahoma;
}
.show-winnings.register-form.name {
  background-color: green;
}
.alert {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: white;
  border: 2px solid orange;
  width: 480px;
  height: 70px;
}
.alert.show {
  display: flex;
}
.audience-vote {
  display: none;
  align-items: flex-end;
  align-content: center;
  justify-content: space-around;
  background-color: rgb(141, 139, 139);
  border: 2px solid orange;
  width: 300px;
  height: 180px;
}
.audience-vote.show {
  display: flex;
}
.a,
.b,
.c,
.d {
  width: 60px;
  background-color: rgb(1, 63, 29);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
}
#highScore {
  height: 1.5rem;
  border: groove 2px;
}
#high-scorePage {
  display: none;
  width: 80%;
  border: solid;
  border-color: silver;
  border-bottom-style: groove;
  padding-bottom: 0.3rem;
  background: transparent;
}
#highscore-header {
  display: flex;
  justify-content: center;
  border-bottom-style: outset;
  margin-bottom: 0.5rem;
  background-color: #5e6df1;
  color: #eeeeee;
  font-family: sans-serif;
}

#highscoreContainer {
  height: 100vw;
  width: 100vw;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#initials {
  margin: 0.5rem;
  height: 1.75rem;
}
#highscore-initials {
  display: inline-block;
  font-family: sans-serif;
  font-weight: bold;
}
#highscore-score {
  display: inline-block;
  padding-left: 3rem;
  font-family: sans-serif;
  font-weight: bold;
}
#highscore-date {
  display: inline-block;
  padding-left: 4rem;
  font-family: sans-serif;
  font-weight: bold;
}
#highscore-session {
  display: inline-block;
  padding-left: 0.5rem;
  font-family: sans-serif;
  font-weight: bold;
}
#finalScore {
  padding-bottom: 0.5rem;
  font-size: x-large;
  font-family: sans-serif;
  font-weight: bold;
}
